
body{
    background-color: rgb(191, 243, 236);
    
}

header{
    top: 10px;
    position: sticky;

    backdrop-filter: blur(10%);

}

.page_header{
    background-color: transparent;
    width: inherit;
    height: 60px;
    font-style: unset;

}

.page_header:hover{
    background-color: rgb(142, 231, 202);
    
}

h2{
    margin-top: 18px;
    margin-bottom: 50px;
    font-size: 42px;
    
}

h3{
    margin-top: 32px;
    font-style: italic;
    font-size: 24px;
}

table{
    width: inherit;
    height: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    border-radius: 08px;
    
    
}

input{
    width: 512px;
    height: 30px;
}

button{
    width: 80px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

.button-view{
    background-color: inherit;
}

button:hover{
    background-color: rgb(132, 204, 132);
    .page_footer{
        background-color: transparent;
        height: 60px;
        width: inherit;
        display: flex;
        align-content: space-evenly;
        
    }
    
    footer tr td{
        padding:10px 36px 10px;
    
    }
    
    .page_footer:hover{
        background-color: rgb(142, 231, 202);
    }
    
       
}

.image{
    margin-bottom: 50px;
    box-shadow: 24%;

}

.customer_table{
    height: 30px;
    width:  962px;
}

footer{

    margin: 5%;
    bottom: 10px;
    position: sticky;
    font-size: 21px;
    backdrop-filter: blur(10%);
}



